p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.UberButton {
  color: white;
  background-color: black;
  border: none;
  width: 100px;
  height: 36px;
  cursor: pointer;
}
.AmazonButton {
  color: black;
  background-color: rgb(255, 216, 20);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 35px;
  padding-right: 35px;
  border: none;
  border-radius: 18px;
  margin-left: 7px;
  cursor: pointer;
  transition: opacity, 0.3s;
}
.AmazonButton:hover {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  padding-right: 45px;
  opacity: 0.7;
}
.NipoSushi {
  background-color: beige;
  color: rgb(229, 123, 22);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 7px;
  border: none;
  border-radius: 25px;
  transition: opacity 0.25s;
  font: bold;
  cursor: pointer;
}
.NipoSushi:hover {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7; 
  text-decoration: underline;
  text-decoration-color: rgb(229, 123, 22);
}
.videoTitle {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}
.videoStats {
  font-size: 14px;    
  color: rgb(96, 96, 96);
}
.videoAutor {
  margin-top: 5px;
  font-size: 14px;    
  color: rgb(96, 96, 96);  
}
.videoDescription {
  width: 300px;
  margin-top: 5px;
  color: rgb(96, 96, 96);
  font-size: 14px;
  line-height: 20px;
}
.appleText {
  margin-left: 20px;
  margin-top: 80px;
  color: white;
  background-color: rgb(227, 65, 64);
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.appleShop {
  cursor: pointer;
}
.appleShop:hover {
  text-decoration: underline;
}

.principalDollar {
 font-size: xx-large;
}

.usd {
  color: gray;
  font-size: small;
}

.valuation {
  color: rgb(2, 105, 2);
  margin-top: 7px;
}
.previousUsd {
  margin-top: 7px;
  color: rgb(87, 86, 86);
}
.decrease {
  color: red;
}